<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArmSclad.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ArmSclad.UI.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArmSclad.UI.Settings>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
        </ArmSclad.UI.Settings>
        <ArmSclad.UI.UserSettings>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
        </ArmSclad.UI.UserSettings>
    </userSettings>
	<connectionStrings>
		<add name="ConnectionStringDb" connectionString="Server=DESKTOP-E86S7QI;Database=ArmStorage;Trusted_Connection=True;TrustServerCertificate=true;MultipleActiveResultSets=true;"/>
	</connectionStrings>
</configuration>